node_modules
dist
*.key
*.sol
circom/**/*.json
circom/**/*.r1cs
circom/**/*.sym
circom/**/*.zkey
circom/**/*.ptau
circom/**/*.wtns
circom/**/*_js
circom/**/*_cpp
abi.json
out

!circom/unit_tests/**/*.json